*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    margin: 250px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.container img {
    padding-bottom: 10px;
    width: 320px;
}

.input-field {
    width: 600px;
    text-align: left;
    margin-bottom: 3px;
    padding: 15px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid rgb(214, 214, 214);
}

/* .input-field::after:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
} */

.input__icons i {
    position: absolute;
    left: 62%;
    padding-top: 5px;
}

.input__icons i:hover{
    cursor: pointer;
}
 
.input__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    column-gap: 16px;
}

button {
    padding: 15px;
    font-size: medium;
    color: gray;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    border: 1px solid rgb(214, 214, 214);
}


