/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
:root{
  --primary-purple:#521bb2;
  --secondary-purple: #a263de;
  --tertiary-purple: #772fc4;
}

body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--secondary-purple);
}
.wrapper{
    width: 430px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
  .wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
  }
  .wrapper .content{
    margin: 25px 25px 35px;
  }
  .content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-purple);
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
  }
  .typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
  }
  .inputs input:first-child{
    margin-left: 0px;
  }
  .content .details{
    margin: 20px 0 25px;
  }
  .details p{
    font-size: 19px;
    margin-bottom: 10px;
  }
  .content .reset-btn{
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    background: var(--secondary-purple);
    transition: all 0.3s ease;
  }
  .content .reset-btn:hover{
    background: var(--tertiary-purple);
  }
  @media screen and (max-width: 460px) {
    .wrapper {
      width: 100%;
    }
    .wrapper h1{
      font-size: 22px;
      padding: 16px 20px;
    }
    .wrapper .content{
      margin: 25px 20px 35px;
    }
    .inputs input{
      height: 51px;
      width: 50px;
      margin: 3px;
      font-size: 22px;
    }
    .details p{
      font-size: 17px;
    }
    .content .reset-btn{
      padding: 14px 0;
      font-size: 16px;
    }
  }